.forms {
    background-color: whitesmoke;
}

.form {
    box-sizing: border-box;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

form input {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form button {
    height: 30px;
    background-color: black;
    color: white;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table {
    background-color: black;
    width: 100%;
    color: white;
}

th {
    text-align: start;
    height: 40px;
}

td {
    height: 25px;
}